.root {
	-fx-font-size: 11pt;
	-fx-font-family: "Arial";
	-fx-background-color: #333333;
}

.button {
	-fx-opacity: 0.8;
	-fx-background-color: rgb(88, 147, 196);
	-fx-text-fill: white;
}

.button:hover {
	-fx-opacity: 1;
	-fx-cursor: pointer;
}

.textfield {
	-fx-background-color: #d4d4d4;
	-fx-text-fill: black;
}

.label {
	-fx-text-fill: white;
}
